<a href="https://colab.research.google.com/github/Izhan-07/Deployment-of-ML-using-FLASK/blob/main/Deployment_of_Machine_Learning_model_using_Flask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

# Importing the dataset

In [ ]:
df = pd.read_csv('Housing.csv')

In [ ]:
df.shape

(545, 13)

In [ ]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
df.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [ ]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [ ]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [ ]:
pd.Series({col:df[col].unique() for col in df})

price               [13300000, 12250000, 12215000, 11410000, 10850...
area                [7420, 8960, 9960, 7500, 8580, 16200, 8100, 57...
bedrooms                                           [4, 3, 5, 2, 6, 1]
bathrooms                                                [2, 4, 1, 3]
stories                                                  [3, 4, 2, 1]
mainroad                                                    [yes, no]
guestroom                                                   [no, yes]
basement                                                    [no, yes]
hotwaterheating                                             [no, yes]
airconditioning                                             [yes, no]
parking                                                  [2, 3, 0, 1]
prefarea                                                    [yes, no]
furnishingstatus             [furnished, semi-furnished, unfurnished]
dtype: object

# Encoding Categorical data

In [ ]:
for i in range(len(df)):
  if df['mainroad'][i]=="yes":
    df['mainroad'][i] = 1
  elif df['mainroad'][i]=="no":
    df['mainroad'][i] = 0
  if df['guestroom'][i]=="yes":
    df['guestroom'][i] = 1
  elif df['guestroom'][i]=="no":
    df['guestroom'][i] = 0
  if df['basement'][i]=="yes":
    df['basement'][i] = 1
  elif df['basement'][i]=="no":
    df['basement'][i] = 0
  if df['hotwaterheating'][i]=="yes":
    df['hotwaterheating'][i] = 1
  elif df['hotwaterheating'][i]=="no":
    df['hotwaterheating'][i] = 0
  if df['airconditioning'][i]=="yes":
    df['airconditioning'][i] = 1
  elif df['airconditioning'][i]=="no":
    df['airconditioning'][i] = 0
  if df['prefarea'][i]=="yes":
    df['prefarea'][i] = 1
  elif df['prefarea'][i]=="no":
    df['prefarea'][i] = 0
  if df['furnishingstatus'][i]=="furnished":
    df['furnishingstatus'][i] = 2
  elif df['furnishingstatus'][i]=="semi-furnished":
    df['furnishingstatus'][i] = 1
  elif df['furnishingstatus'][i]=="unfurnished":
    df['furnishingstatus'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2

In [ ]:
pd.Series({col:df[col].unique() for col in df})

price               [13300000, 12250000, 12215000, 11410000, 10850...
area                [7420, 8960, 9960, 7500, 8580, 16200, 8100, 57...
bedrooms                                           [4, 3, 5, 2, 6, 1]
bathrooms                                                [2, 4, 1, 3]
stories                                                  [3, 4, 2, 1]
mainroad                                                       [1, 0]
guestroom                                                      [0, 1]
basement                                                       [0, 1]
hotwaterheating                                                [0, 1]
airconditioning                                                [1, 0]
parking                                                  [2, 3, 0, 1]
prefarea                                                       [1, 0]
furnishingstatus                                            [2, 1, 0]
dtype: object

## Splitting the data of dependent variable in Y and independent variable in X

In [ ]:
X = df.iloc[:,1:].values
y = df.iloc[:,0].values

In [ ]:
X

array([[7420, 4, 2, ..., 2, 1, 2],
       [8960, 4, 4, ..., 3, 0, 2],
       [9960, 3, 2, ..., 2, 1, 1],
       ...,
       [3620, 2, 1, ..., 0, 0, 0],
       [2910, 3, 1, ..., 0, 0, 2],
       [3850, 3, 1, ..., 0, 0, 0]], dtype=object)

In [ ]:
y

array([13300000, 12250000, 12250000, 12215000, 11410000, 10850000,
       10150000, 10150000,  9870000,  9800000,  9800000,  9681000,
        9310000,  9240000,  9240000,  9100000,  9100000,  8960000,
        8890000,  8855000,  8750000,  8680000,  8645000,  8645000,
        8575000,  8540000,  8463000,  8400000,  8400000,  8400000,
        8400000,  8400000,  8295000,  8190000,  8120000,  8080940,
        8043000,  7980000,  7962500,  7910000,  7875000,  7840000,
        7700000,  7700000,  7560000,  7560000,  7525000,  7490000,
        7455000,  7420000,  7420000,  7420000,  7350000,  7350000,
        7350000,  7350000,  7343000,  7245000,  7210000,  7210000,
        7140000,  7070000,  7070000,  7035000,  7000000,  6930000,
        6930000,  6895000,  6860000,  6790000,  6790000,  6755000,
        6720000,  6685000,  6650000,  6650000,  6650000,  6650000,
        6650000,  6650000,  6629000,  6615000,  6615000,  6580000,
        6510000,  6510000,  6510000,  6475000,  6475000,  6440000,
        6440000,  6419000,  6405000,  6300000,  6300000,  6300000,
        6300000,  6300000,  6293000,  6265000,  6230000,  6230000,
        6195000,  6195000,  6195000,  6160000,  6160000,  6125000,
        6107500,  6090000,  6090000,  6090000,  6083000,  6083000,
        6020000,  6020000,  6020000,  5950000,  5950000,  5950000,
        5950000,  5950000,  5950000,  5950000,  5950000,  5943000,
        5880000,  5880000,  5873000,  5873000,  5866000,  5810000,
        5810000,  5810000,  5803000,  5775000,  5740000,  5740000,
        5740000,  5740000,  5740000,  5652500,  5600000,  5600000,
        5600000,  5600000,  5600000,  5600000,  5600000,  5600000,
        5600000,  5565000,  5565000,  5530000,  5530000,  5530000,
        5523000,  5495000,  5495000,  5460000,  5460000,  5460000,
        5460000,  5425000,  5390000,  5383000,  5320000,  5285000,
        5250000,  5250000,  5250000,  5250000,  5250000,  5250000,
        5250000,  5250000,  5250000,  5243000,  5229000,  5215000,
        5215000,  5215000,  5145000,  5145000,  5110000,  5110000,
        5110000,  5110000,  5075000,  5040000,  5040000,  5040000,
        5040000,  5033000,  5005000,  4970000,  4970000,  4956000,
        4935000,  4907000,  4900000,  4900000,  4900000,  4900000,
        4900000,  4900000,  4900000,  4900000,  4900000,  4900000,
        4900000,  4900000,  4893000,  4893000,  4865000,  4830000,
        4830000,  4830000,  4830000,  4795000,  4795000,  4767000,
        4760000,  4760000,  4760000,  4753000,  4690000,  4690000,
        4690000,  4690000,  4690000,  4690000,  4655000,  4620000,
        4620000,  4620000,  4620000,  4620000,  4613000,  4585000,
        4585000,  4550000,  4550000,  4550000,  4550000,  4550000,
        4550000,  4550000,  4543000,  4543000,  4515000,  4515000,
        4515000,  4515000,  4480000,  4480000,  4480000,  4480000,
        4480000,  4473000,  4473000,  4473000,  4445000,  4410000,
        4410000,  4403000,  4403000,  4403000,  4382000,  4375000,
        4340000,  4340000,  4340000,  4340000,  4340000,  4319000,
        4305000,  4305000,  4277000,  4270000,  4270000,  4270000,
        4270000,  4270000,  4270000,  4235000,  4235000,  4200000,
        4200000,  4200000,  4200000,  4200000,  4200000,  4200000,
        4200000,  4200000,  4200000,  4200000,  4200000,  4200000,
        4200000,  4200000,  4200000,  4200000,  4193000,  4193000,
        4165000,  4165000,  4165000,  4130000,  4130000,  4123000,
        4098500,  4095000,  4095000,  4095000,  4060000,  4060000,
        4060000,  4060000,  4060000,  4025000,  4025000,  4025000,
        4007500,  4007500,  3990000,  3990000,  3990000,  3990000,
        3990000,  3920000,  3920000,  3920000,  3920000,  3920000,
        3920000,  3920000,  3885000,  3885000,  3850000,  3850000,
        3850000,  3850000,  3850000,  3850000,  3850000,  3836000,
        3815000,  3780000,  3780000,  3780000,  3780000,  3780000,
        3780000,  3773000,  3773000,  3773000,  3745000,  3710000,
        3710000,  3710000,  3710000,  3710000,  3703000,  3703000,
        3675000,  3675000,  3675000,  3675000,  3640000,  3640000,
        3640000,  3640000,  3640000,  3640000,  3640000,  3640000,
        3640000,  3633000,  3605000,  3605000,  3570000,  3570000,
        3570000,  3570000,  3535000,  3500000,  3500000,  3500000,
        3500000,  3500000,  3500000,  3500000,  3500000,  3500000,
        3500000,  3500000,  3500000,  3500000,  3500000,  3500000,
        3500000,  3500000,  3493000,  3465000,  3465000,  3465000,
        3430000,  3430000,  3430000,  3430000,  3430000,  3430000,
        3423000,  3395000,  3395000,  3395000,  3360000,  3360000,
        3360000,  3360000,  3360000,  3360000,  3360000,  3360000,
        3353000,  3332000,  3325000,  3325000,  3290000,  3290000,
        3290000,  3290000,  3290000,  3290000,  3290000,  3290000,
        3255000,  3255000,  3234000,  3220000,  3220000,  3220000,
        3220000,  3150000,  3150000,  3150000,  3150000,  3150000,
        3150000,  3150000,  3150000,  3150000,  3143000,  3129000,
        3118850,  3115000,  3115000,  3115000,  3087000,  3080000,
        3080000,  3080000,  3080000,  3045000,  3010000,  3010000,
        3010000,  3010000,  3010000,  3010000,  3010000,  3003000,
        2975000,  2961000,  2940000,  2940000,  2940000,  2940000,
        2940000,  2940000,  2940000,  2940000,  2870000,  2870000,
        2870000,  2870000,  2852500,  2835000,  2835000,  2835000,
        2800000,  2800000,  2730000,  2730000,  2695000,  2660000,
        2660000,  2660000,  2660000,  2660000,  2660000,  2660000,
        2653000,  2653000,  2604000,  2590000,  2590000,  2590000,
        2520000,  2520000,  2520000,  2485000,  2485000,  2450000,
        2450000,  2450000,  2450000,  2450000,  2450000,  2408000,
        2380000,  2380000,  2380000,  2345000,  2310000,  2275000,
        2275000,  2275000,  2240000,  2233000,  2135000,  2100000,
        2100000,  2100000,  1960000,  1890000,  1890000,  1855000,
        1820000,  1767150,  1750000,  1750000,  1750000])

# Splitting the dataset into Training set and Test set

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state = 0)

## Training the Polynomial Regression model on the Training set

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

## Predicting the Test set results

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision = 2)

## Concatanation of two vertical vectors
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[ 4019080.7   4585000.  ]
 [ 6258021.77  6083000.  ]
 [ 4392719.13  4007500.  ]
 [ 7335082.22  6930000.  ]
 [ 2892857.57  2940000.  ]
 [ 7084655.58  6195000.  ]
 [ 3258634.74  3535000.  ]
 [ 3196499.16  2940000.  ]
 [ 3520106.01  3500000.  ]
 [ 8359610.29  7980000.  ]
 [ 6646926.36  6755000.  ]
 [ 3788844.63  3990000.  ]
 [ 3734072.96  3150000.  ]
 [ 4616010.41  3290000.  ]
 [ 3946124.94  4130000.  ]
 [ 2023177.47  2660000.  ]
 [ 3975554.49  4410000.  ]
 [ 3624716.97  3710000.  ]
 [ 3210282.74  3360000.  ]
 [ 4668411.38  4270000.  ]
 [ 5893719.66  5005000.  ]
 [ 6415683.84  5383000.  ]
 [ 4657036.56  6440000.  ]
 [ 2704096.11  1890000.  ]
 [ 5356909.86  6125000.  ]
 [ 5740682.57  5460000.  ]
 [ 5337586.48  5803000.  ]
 [ 5444859.97  4620000.  ]
 [ 5702144.57  5530000.  ]
 [ 5865872.3   5950000.  ]
 [ 3307327.31  4305000.  ]
 [ 6299491.03  3640000.  ]
 [ 7123479.96  5250000.  ]
 [ 2960326.87  3325000.  ]
 [ 4424323.19  3703000.  ]
 [ 5125081.86  4753000.  ]
 [ 4947693.93  9100000.  ]
 [ 3629027.82  3500000.  ]
 [ 2975421.53  3150000.  ]
 [ 3975089.54  4270000.  ]
 [ 8106313.96  8960000.  ]
 [ 5014658.88  4060000.  ]
 [ 6469749.7   5740000.  ]
 [ 3566139.31  3129000.  ]
 [ 3868652.86  3633000.  ]
 [ 6344993.75  7560000.  ]
 [ 4482572.73  4620000.  ]
 [ 2740240.09  3290000.  ]
 [ 4105384.15  4165000.  ]
 [ 6518557.36  6650000.  ]
 [ 3976558.94  4165000.  ]
 [ 7056307.69  4690000.  ]
 [ 2586714.17  3150000.  ]
 [ 2947687.8   3850000.  ]
 [ 3553624.39  3290000.  ]
 [ 5151386.48  5075000.  ]
 [ 7171548.11  6510000.  ]
 [ 4052242.71  5740000.  ]
 [ 2884254.74  3780000.  ]
 [ 4379165.56  4795000.  ]
 [ 6066225.12  4900000.  ]
 [ 6751773.92  5460000.  ]
 [ 3382551.41  3500000.  ]
 [ 7251896.59  7525000.  ]
 [ 2681431.47  2835000.  ]
 [ 5138914.78  5495000.  ]
 [ 6685740.05  8680000.  ]
 [ 2619223.85  4200000.  ]
 [ 3824989.41  4200000.  ]
 [ 4995902.78  4900000.  ]
 [ 4352359.    3332000.  ]
 [ 7264572.35  6195000.  ]
 [ 5150347.4   4098500.  ]
 [ 5947769.21  6650000.  ]
 [ 4086573.1   3885000.  ]
 [ 4549426.53  4620000.  ]
 [ 2958392.05  1960000.  ]
 [ 7660252.98  6440000.  ]
 [ 2656282.61  1750000.  ]
 [ 3679497.4   3605000.  ]
 [ 4352359.    3290000.  ]
 [ 5981887.99  4970000.  ]
 [ 5132525.07  4613000.  ]
 [ 5458725.16  3850000.  ]
 [ 3822006.64  3500000.  ]
 [ 4128176.82  6107500.  ]
 [ 4698794.76  3780000.  ]
 [ 5027920.22  4900000.  ]
 [ 3913610.13  3570000.  ]
 [ 4296868.64  4340000.  ]
 [ 3290316.24  3500000.  ]
 [ 5880621.01  6300000.  ]
 [ 3150060.87  3395000.  ]
 [ 3668445.62  3815000.  ]
 [ 4539382.03  3920000.  ]
 [10575679.22 12250000.  ]
 [ 2971774.44  3080000.  ]
 [ 7093654.    9310000.  ]
 [ 4418061.77  4270000.  ]
 [ 4577913.08  3780000.  ]
 [ 6542179.32  5600000.  ]
 [ 3322929.38  3290000.  ]
 [ 4620712.66  2380000.  ]
 [ 3364236.62  5110000.  ]
 [ 7400967.89  6650000.  ]
 [ 5138942.24  5810000.  ]
 [ 4058811.42  4123000.  ]
 [ 4972825.57  3080000.  ]
 [ 6367950.03  5530000.  ]]

In [ ]:
from sklearn import metrics
Accuracy = r2_score(y_test,y_pred)*100
print(" Accuracy of the model is %.2f" %Accuracy)
 
#print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

 Accuracy of the model is 65.78

In [ ]:
# model = LinearRegression()

In [ ]:
# model.fit(X_train, y_train)

In [ ]:
# y_pred = model.predict(X_test)

In [ ]:
# r2_score(y_test, y_pred)

In [ ]:
 regressor.predict([[7240,4,2,3,1,0,0,0,1,2,1,2]])

array([8175632.09])

* Day 7 attendence: https://docs.google.com/forms/d/e/1FAIpQLScq9NI9U_ziNf302qwYczYkehWoXA9GnuaaxWyjKVgjgunrwQ/viewform

* Jamboard: https://jamboard.google.com/d/1MW70bDTFm6rlrXACfjPnABlFD4NAu3D9_JgFxTIbTT8/edit?usp=sharing, https://jamboard.google.com/d/1Boc_TURt7M7ZMlbUWwhMJdw020ZlfHcej4L_clgSRrE/edit?usp=sharing

* Ice Cream Dataset: https://drive.google.com/file/d/1rS8dVV4QhyC6eQVqOuarrbmCpURodDJB/view?usp=sharing

* Project dataset: https://drive.google.com/file/d/1mGd1jwG1jExXmJpmGgDhUY9awevlopdD/view

* Project Submission Form: https://forms.gle/2y4fnH8bX2yzeLvC8